 <h3>{{theEvent?.name}}</h3> <button (click)="showMoreDetails()">More details</button>
<ng-container *ngIf="showdetails">

 <p>Description: {{ theEvent?.description }}</p>
 <p>Type: {{ theEvent?.type }}</p> 
 <p>Maxcapacity: {{ theEvent?.maxcapacity }}</p>
 <p>Event full?: {{ theEvent?.eventfull }}</p>

 <button (click)="hideMoreDetails()">Hide details</button>  <br/> <br/>
 
 <button (click)="addToFavs()" (click)="ToggleFavAdded()" >Add to Favorite</button>
 
 <ng-container *ngIf="FavAdded">
    Favorite added!
</ng-container>

</ng-container> 
