<h1> My Favorite Events:</h1>
    <ng-container *ngFor="let fav of allItems">
        <div>
            <p style="font-weight: bold;">Name: {{ fav.name }}</p> <button (click)="showMoreDetails()">More details</button>
            <ng-container *ngIf="showdetails" >

            
            <p>Type: {{ fav.type }}</p> 
            <p>Description: {{ fav.description }}</p> 
            <p>Max Capacity: {{ fav.maxcapacity }}</p> 
            <p>Event full?: {{ fav.eventfull }}</p>     
            <button (click)="hideMoreDetails()">Hide details</button>  <br/> <br/>
            <button (click)="removeFav(fav.id)">Remove</button>
        </ng-container>
    </div>
        
     </ng-container>
